<app-tab [title]="'Budget Books'">

  <ion-refresher slot="fixed" (ionRefresh)="refreshBudgetBooks($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let budgetBook of budgetBooksList">
    <ion-card-header (click)="navigateToBudgetBook(budgetBook)">
      <ion-card-title>{{budgetBook.description}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-progressbar [progressbarOption]="getProgressbarOption(budgetBook)"></app-progressbar>
      <p>balance: {{getBalance(budgetBook)}}€</p>
      <p>real saving: {{getRealSaving(budgetBook)}}€</p>
    </ion-card-content>
    <ion-footer>
      <ion-grid>
        <ion-row class="ion-justify-content-between">
          <ion-col size="auto" class="ion-text-center">
            <div>{{getLastChangeElapsedTime(budgetBook)}} ago</div>
          </ion-col>
          <ion-col size="auto" class="ion-text-center">
            <ion-icon name="ellipsis-horizontal-outline" (click)="showActions(budgetBook)"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-card>
  
  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMoreBudgetBooks($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Load more">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  
</app-tab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="navigateToBudgetBookCreation()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>