<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{ 'MACRO_CATEGORY.editMacroCategoryTitle' | translate }}</ion-title>
    <ion-buttons slot="end"> 
      <ion-button (click)="close(false)" color="primary">{{ 'COMMON.cancel' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="ready">

  <form [formGroup]="formEditMacroCategory">

    <ion-list>

      <!-- description -->
      <ion-item>
        <ion-label>{{ 'LABELS.description' | translate }}: </ion-label>
        <ion-input formControlName="description" class="ion-text-right"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label>{{ 'LABELS.categories' | translate }}: </ion-label>
      </ion-item>

      <ion-item *ngIf="categoriesOptions.length > 0">

        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <!-- chips of the unused categories -->
              <ion-chip *ngFor="let category of categoriesOptions" [color]="getColor(category.amountType)"
                [outline]="!isSelected(category)" (click)="onCategoryClicked(category)">
                {{category.description}}
                <ion-icon *ngIf="!isSelected(category)" name="add"></ion-icon>
                <ion-icon *ngIf="isSelected(category)" name="close"></ion-icon>
              </ion-chip>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-item>
      <ion-item *ngIf="categoriesOptions.length === 0">

        <ion-grid fixed>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                {{ 'MACRO_CATEGORY.noCategoryAvaiabile' | translate }}
              </ion-text>
            </ion-col>
            <ion-col size="12">
              <ion-button (click)="openModalCreateCategory()" expand="block" color="primary" fill="outline">
                {{ 'MACRO_CATEGORY.newCategoryButton' | translate }}
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        
      </ion-item>
    </ion-list>
    
  </form>
  
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-between">
      
      <ion-col>
        <ion-button (click)="onSubmit()" [disabled]="!formEditMacroCategory.valid" expand="block" color="primary">
          <ion-icon slot="start" icon="save-outline" class="component-icon"></ion-icon>
          {{ 'COMMON.save' | translate }}
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="close(true)" expand="block" color="secondary" fill="outline">
          <ion-icon slot="start" icon="arrow-undo-outline" class="component-icon"></ion-icon>
          {{ 'COMMON.cancel' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-footer>