<ion-header translucent>
  <ion-toolbar>
    <ion-title>{{'CATEGORY.editCategoryTitle' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close(false)" color="primary">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen *ngIf="ready">

  <form [formGroup]="formEditCategory">

    <ion-list>
      <!-- amountType -->
      <ion-item>
        <ion-label>{{'LABELS.amountType' | translate }}: </ion-label>
        <ion-select formControlName="amountType" interface="popover">
          <ion-select-option *ngFor="let amountType of amountTypes" [value]="amountType.amountTypeId">
            {{'AMOUNT_TYPES.' + amountType.description | translate}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <!-- description -->
      <ion-item>
        <ion-label>{{'AMOUNT_TYPES.description' | translate}}: </ion-label>
        <ion-input formControlName="description" class="ion-text-right"></ion-input>
      </ion-item>
      <!-- category -->
      <ion-item>
        <ion-label>{{'LABELS.macroCategory' | translate }}: </ion-label>
        <ion-select formControlName="macroCategory" interface="popover" placeholder="{{'COMMON.select' | translate}}">
          <ion-select-option *ngFor="let macroCategory of macroCategories" [value]="macroCategory.macroCategoryId">
            {{macroCategory.description}}
          </ion-select-option>
        </ion-select>

      </ion-item>
    </ion-list>

  </form>
    
  </ion-content>
  <ion-footer>
    <ion-grid>
      <ion-row class="ion-justify-content-between">
        
        <ion-col>
          <ion-button (click)="onSubmit()" [disabled]="!formEditCategory.valid" expand="block" color="primary">
            <ion-icon slot="start" icon="save-outline" class="component-icon"></ion-icon>
            {{'COMMON.save' | translate }}
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button (click)="close(true)" expand="block" color="secondary" fill="outline">
            <ion-icon slot="start" icon="arrow-undo-outline" class="component-icon"></ion-icon>
            {{'COMMON.cancel' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
      
    </ion-grid>
  </ion-footer>