<div class="container">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <h1 class="big">404</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <h1>Pagina non esistente</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center">

      <ion-col size-lg="4" size-sm="10">
        <ion-button (click)="navigateToHome()" expand="block" color="primary">torna alla home</ion-button>
      </ion-col>
    </ion-row>


  </ion-grid>
</div>