<!-- <ng-container *ngIf="sum > 0">
  
  <div class="padding-left-10 padding-right-10">
    <div class="progress">
      <div *ngFor="let section of progressbarOption.sections" class="progress-bar no-border-readius"
        [style.width]="getPercentage(section) + '%'" [style.background-color]="section.color">
      </div>
    </div>
  </div>
</ng-container> -->

<ng-container *ngIf="sum > 0">

  <ion-grid>
    <ng-container *ngFor="let section of progressbarOption.sections">
      <ion-row class="ion-justify-content-between">
        <ion-col class="ion-text-left no-padding-bottom" size="6">
          {{section.label}}
        </ion-col>
        <ion-col class="ion-text-right no-padding-bottom" size="6">
          {{section.value}}€
        </ion-col>
        <ion-col size="12" class="no-padding-bottom">
          <div class="progress">
  
            <div class="progress-bar" [style.width]="getPercentage(section) + '%'"
              [style.background-color]="section.color">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

</ng-container>