<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateToBudgetBooks()" color="primary">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{budgetBook?.description}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="navigateToBudgetBookEdit()" color="primary">
        <ion-icon slot="end" name="create-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refreshAmounts($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <app-amount-card *ngFor="let amount of amounts" [amount]="amount" (onShowActionsClicked)="showActions(amount)"></app-amount-card>
  
  <ion-infinite-scroll threshold="50%" (ionInfinite)="loadMoreAmounts($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="Load more">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-fab horizontal="end" vertical="bottom" slot="fixed">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <ion-fab-list side="start">
    <ion-fab-button color="danger" (click)="addExpenseAmount()">
      <ion-icon name="remove-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="success" (click)="addIncomeAmount()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="primary" (click)="addSavingAmount()">
      <ion-icon name="wallet-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-button color="secondary" (click)="addrecurringAmount()">
      <ion-icon name="repeat-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>