<app-tab [title]="'Categories'">

  <ion-segment [scrollable]="true" (ionChange)="segmentChanged($event)" [value]="selectedSegment">
    <ion-segment-button [value]="CATEGORIES">
      <ion-label>{{ 'CATEGORY.title' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button [value]="MACRO_CATEGORIES">
      <ion-label>{{ 'MACRO_CATEGORY.title' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-refresher slot="fixed" (ionRefresh)="reloadData($event)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="showCategories">
    <ion-card *ngFor="let category of categories" [class]="getCategoryCardClass(category)">
      <ion-card-header>
        <ion-card-title [ngClass]="category.cancellationTimestamp ? 'cancelled-text' : ''">
          {{category.description}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          {{ 'LABELS.macroCategory' | translate}}:
          <ng-container *ngIf="category.macroCategory">
            <b>{{category.macroCategory.description}}</b>
          </ng-container>

          <ng-container *ngIf="!category.macroCategory">
            <b>{{ 'COMMON.none' | translate}}</b>
            <p><ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>{{ 'CATEGORY.noMacrocategoryMessage' | translate}}</p>
          </ng-container>

        </p>
        <p>
          {{ 'LABELS.amountType' | translate}}:
          <b>
            {{'AMOUNT_TYPES.' + category.amountType.description | translate}}
          </b>
        </p>
      </ion-card-content>
      <ion-footer>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="auto" class="ion-text-center">
              <div>{{getLastChangeElapsedTime(category)}}</div>
            </ion-col>
            <ion-col size="auto" class="ion-text-center" *ngIf="!category.cancellationTimestamp">
              <ion-icon name="ellipsis-horizontal-outline" (click)="showActionsCategory(category)"></ion-icon>
            </ion-col>
            <ion-col size="auto" class="ion-text-center" *ngIf="category.cancellationTimestamp">
              <ion-icon name="arrow-undo-outline" (click)="showAlertRestoreCategory(category)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-card>
  </ng-container>

  <ng-container *ngIf="showMacroCategories">
    <ion-card *ngFor="let macroCategory of macroCategories">
      <ion-card-header>
        <ion-card-title [ngClass]="macroCategory.cancellationTimestamp ? 'cancelled-text' : ''">
          {{macroCategory.description}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-chip *ngFor="let category of macroCategory.categories" [color]="getColor(category.amountType)"
          [outline]="false"
          class="unclickable">
          {{category.description}}
        </ion-chip>
      </ion-card-content>
      <ion-footer>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col size="auto" class="ion-text-center">
              <div>{{getLastChangeElapsedTime(macroCategory)}}</div>
            </ion-col>
            <ion-col size="auto" class="ion-text-center" *ngIf="!macroCategory.cancellationTimestamp">
              <ion-icon name="ellipsis-horizontal-outline" (click)="showActionsMacroCategory(macroCategory)"></ion-icon>
            </ion-col>
            <ion-col size="auto" class="ion-text-center" *ngIf="macroCategory.cancellationTimestamp">
              <ion-icon name="arrow-undo-outline" (click)="showAlertRestoreMacroCategory(macroCategory)"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-footer>
    </ion-card>
  </ng-container>

</app-tab>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="addButtonClicked()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>